@font-face {
  font-family: 'Nivea';
  src: url("./assets/fonts/NiveaBoldText.otf") format("opentype");
}

body {
  font-family: 'Nivea', Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background: url(./assets/bg_only.png) no-repeat center center fixed;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
